body {
    font-family: sans-serif;
    max-width: 800px;
  }
  
  .oppskrift {
    list-style: none;
  }
  
  .porsjoner {
    width: 500px;
    height: 40px;
    border-radius: 25px;
    background-color: grey;
    text-align: center;
  }
  .btn {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background-color: green;
    color: white;
    border: none;
  }